{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="container">
    <br>
    <h4 align="center">Ajouter une demande</h4>


    <div class="form-group">
        {{ form_label(form.idapp,"Nom de l'appli:") }}
        <div style="color: #ff0000">
            {{ form_errors(form.idapp)}}
        </div>
        {{ form_widget(form.idapp, {attr: {class:'form-control','id':'nom'}}) }}
    </div>
    <div  class="form-group" >
        {{ form_label(form.rdvdepo,"rendez_vous de depo le :") }}
        <div style="color: #ff0000">
            {{ form_errors(form.rdvdepo)}}
        </div>

        {{ form_widget(form.rdvdepo, {attr: {class:'form-control','id':'rdevdepo'}}) }}
    </div>


    <div class="form-group" >
        {{ form_label(form.nommachine,"Nom de la machine :") }}
        <div style="color: #ff0000">
            {{ form_errors(form.nommachine)}}
        </div>
        {{ form_widget(form.nommachine, {attr: {class:'form-control','id':'nommachine'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.rdvdepo,"Avez_vous des remarque ? ") }}
        <div style="color: #ff0000">
            {{ form_errors(form.remarque)}}
        </div>
        {{ form_widget(form.remarque, {attr: {class:'form-control','id':'remarque'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-outline-primary">{{ button_label|default('confirmer') }}</button>
    </div>

</div>

{{ form_end(form) }}
