{% extends 'DashbordBack.html.twig' %}

{% block titre %}liste des demande{% endblock %}
{% block miniTitre %}liste des demandes{% endblock %}

{% block content %}
    <h4 align="center">Demandes</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Idd</th>
                <th>Idc</th>
                <th>Ide</th>
                <th>Idapp</th>
                <th>Datedemande</th>
                <th>Rdvdepo</th>
                <th>Rdvrec</th>
                <th>Nommachine</th>
                <th>Remarque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.idd }}</td>
                <td></td>
                <td></td>
                <td>{{ demande.idapp.nom }}</td>
                <td>{{ demande.datedemande |date('Y-m-d') }}</td>
                <td>{{ demande.rdvdepo |date('Y-m-d')  }}</td>
                <td>{{ demande.rdvrec |date('Y-m-d')  }}</td>
                <td>{{ demande.nommachine }}</td>
                <td>{{ demande.remarque }}</td>
                <td>
                    <a href="{{ path('demande_show', {'idd': demande.idd}) }}">show</a>
                    <a href="{{ path('demande_edit', {'idd': demande.idd}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_new') }}">Create new</a>
{% endblock %}
