{% extends 'DashbordBack.html.twig' %}

{% block titre %}details des demandes{% endblock %}
{% block miniTitre %}details des demandes{% endblock %}

{% block content %}
    <h4 align="center">detail demande</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Idd</th>
                <td>{{ demande.idd }}</td>
            </tr>
            <tr>
                <th>Idc</th>
                <td><label style="color: #0074f0">{{ demande.idc.nom  }}</label> {{ demande.idc.prenom }} </td>
            </tr>
            <tr>
                <th>Ide</th>
                <td> <label style="color: #0074f0">{{ demande.ide.nom }}</label> {{ demande.ide.prenom }}</td>
            </tr>
            <tr>
                <th>Idapp</th>
                <td>{{ demande.idapp.nom }}</td>
            </tr>
            <tr>
                <th>Datedemande</th>
                <td>{{ demande.datedemande ? demande.datedemande|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rdvdepo</th>
                <td>{{ demande.rdvdepo ? demande.rdvdepo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rdvrec</th>
                <td>{{ demande.rdvrec ? demande.rdvrec|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nommachine</th>
                <td>{{ demande.nommachine }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ demande.remarque }}</td>
            </tr>
        <tr>
            <td width="150">
                <a class="btn btn-block btn-outline-warning" href="{{ path('demande_edit', {'idd': demande.idd}) }}">edit</a>
            </td>
            <td>
                {{ include('demande/_delete_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>






{% endblock %}
