{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="container">
    <br>
    <h4 align="center">Ajouter une application</h4>


    <div class="form-group">
        {{ form_label(form.nom,"Nom :") }}
        <div style="color: #ff0000">
            {{ form_errors(form.nom)}}
        </div>
        {{ form_widget(form.nom, {attr: {class:'form-control','id':'nom'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description,"Description :") }}
        <div style="color: red">
            {{ form_errors(form.description)}}
        </div>
        {{ form_widget(form.description, {attr: {class:'form-control','id':'desc'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-outline-primary">{{ button_label|default('confirmer') }}</button>
    </div>

</div>
