{% extends 'DashbordBack.html.twig' %}

{% block title %}Application{% endblock %}

{% block content %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idapp</th>
                <td>{{ application.idapp }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ application.nom }}</td>
            </tr>
            <tr>
                <th>Desc</th>
                <td>{{ application.desc }}</td>
            </tr>
        <tr>
            <td>
                <a class="btn btn-block btn-outline-warning"  href="{{ path('application_edit', {'idapp': application.idapp}) }}">edit</a>
            </td>
            <td>
                {{ include('application/_delete_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>






{% endblock %}
