{% extends 'DashbordBack.html.twig' %}

{% block titre %}Employe detail{% endblock %}
{% block miniTitre %}Employee detail{% endblock %}

{% block content %}
    <h4>Employee de CNI num : {{ employee.ide }}  </h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Ide</th>
                <td>{{ employee.ide }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employee.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employee.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ employee.tel }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ employee.poste }}</td>
            </tr>
            <tr>
                <td width="150">
                    <a  class="btn btn-block btn-outline-warning" href="{{ path('employee_edit', {'ide': employee.ide}) }}">Modifier </a>
                </td>
                <td>
                    {{ include('employee/_delete_form.html.twig') }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('employee_index') }}">Retour à la liste</a>
                </td>
            </tr>
        </tbody>

    </table>



    <br>

{% endblock %}
